.popup{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(black, 0.8);
  transition: all .1s ease-out;
  &:target{
    visibility: visible;
    opacity: 1;
  }
  &__closer{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 0;
    right: 3rem;
    a{
      color: currentColor;
    }
  }
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    //background-color: $color-blue-shine;
    border-radius: 5px;
    padding: 2rem 0;
    color: white;
    .success{
      grid-column: 1 / -1;
      justify-self: center;
      color: darken($color-green, 20%);
      background-color: lighten($color-green, 30%);
      border: 1px solid darken($color-green, 10%);
      border-radius: 3px;
      padding: .5rem 1.5rem;
      font-size: 1.4rem;
      font-family: $font-opensans;
    }
    .fail{
      color: red;
      font-size: 1.2rem;
    }
  }
  &__loading{
    padding: 3rem;
    //background-color: white;
    border-radius: 5px;
    color: $color-black;
    font-size: 1.4rem;
    background-image: url(../img/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 5rem;
    height: 5rem;
  }
  &__names{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    margin: 0 2rem 1rem;
    border-bottom: 1px solid white;
  }
  &__options{
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    li{
      &:hover{
        background-color: $color-mustard;
        color: $color-black;
      }
      a{
        display: flex;
        justify-content: space-between;
        padding: .5rem 2rem;
        color: currentColor;
        .count{
          display: block;
          padding: 0 .5rem;
          border-radius: 3px;
          background-color: $color-crimson;
        }
      }
    }
  }
}
