
//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//FONT IMPORT
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700|Roboto+Condensed:300,400,700|Open+Sans:400,600');
@font-face {
  font-family: "Cuprum";
  src:url("/fonts/Cuprum-Regular.woff");
  font-weight: normal;
  font-style: normal;
};

@font-face {
    font-family: 'open_light';
    src: url('/fonts/OpenSans-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_regular';
    src: url('/fonts/OpenSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_semibold';
    src: url('/fonts/OpenSans-Semibold-webfont.woff');
    font-weight: normal;
    font-style: normal;
}




//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//FONT VARIABLES
$font-cuprum: 'Cuprum', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-open-light: 'open_light', sans-serif;
$font-open-semibold: 'open_semibold', sans-serif;

//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//COLORS VARIABLES
$color-black: #363636;
$color-blue: #4169E1;
$color-blue-shine: #00B6FF;
$color-crimson: #FF1945;
$color-mustard: #CCC314;
$color-mustard-dark: #B2AA09;
$color-grey-bg: #EEEEEE;
$color-green: #8CC63F;


//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//MEDIA QUERIES
$bp-large : 38em; //610px
$bp-medium : 29em; //470px
$bp-small : 24em; //386px
